/*@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: vh;
    width: 100%;
}
html{
    background-color: black;
    /*font-family: 'Baskervville', serif;*/
    font-family: 'Lato', sans-serif;
    
}
#projects .projects{
    height: 148vh;
}
#projects h1{
    color: #FFCACA;
    text-transform: uppercase;
    margin-top: 34px;
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: .1rem;
}
#projects h2{
    color: #FFCACA;
    margin-top: 30px;
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
    text-decoration: underline;

}
#projects h3{
    margin-bottom: ;
}
#projects .portfolio-item{
    flex-basis: ;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
   

}
#projects .business-items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: px;
}
#projects .business-item{
    display: flex;
    flex-wrap: wrap;
    margin-top: px;
    margin: 0 auto;
}
@media only screen and (min-width: 760px){
    #projects .portfolio-items{
        flex-basis: 45%;
        margin: 1.5%;
        flex-wrap: wrap;
        
}
}